# Abhängigkeiten
node_modules
.pnpm-debug.log*

# Build-Ausgaben
.next
out
dist
build

# IDE / Betriebssystem
.vscode
.idea
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker-spezifisch
Dockerfile
.dockerignore
docker-compose.yml

# Dokumentation & Tests
README.md
LICENSE
.github
tests
coverage
